body {
    font-family: helvetica;
}

/* site styles */

header {
    background-color: #333;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 40px;
    text-decoration-line: none;
}

header a:hover {
    background: #ddd;
    color: black;
  }

body div {
    margin-top: 90px;
}

body div img {
    float: left;
    margin: 1%;
}

footer {
    background: #000;
    height: 50px;
    padding: 20px;
}

footer p {
    color: white;
}